<!DOCTYPE html>
<html>
    <head>
        <title>Jesus's Blog</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Jesus's Random Thoughts</a></h1>
            <h6><em>*Note that these are my thoughts so if you are offended, then you are welcome to leave.</em></h3>
        </header>

        <article>
            <time>published: 10.08.2024, 18:36</time>
            <h2>Why are Spanish Songs so Fire?</h2>
            <p>Growing up as a hispanic child, I was forced to listen to Mexican songs when we were in the car.
                At first I did not like listening to these songs, but you never really appreciate things until you are older.
                The issue was that I did not understand the songs as I do now. These songs are so fucking fire.
                Nothing but straight bangers, and alot of this has to do with Spanish being such a good language.
                It feels like emotions are conveyed better and with much deeper feelings. Like I will hear a heartbreak or sad song 
                and just feel it much more than I would if the song was in English. Anyway here is a list of Spanish songs that I love
                listening to at the moment in no particular order.
            </p>
            <div>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=P7eNtsomvJA"><strong>TÚ NAME</strong></a> by Fuerza Regida</li>
                    <li><a href="https://www.youtube.com/watch?v=fGIWsQDif_M"><strong>LAGUNAS</strong></a> by Peso Pluma, Jasiel Nuñez</li>
                    <li><a href="https://www.youtube.com/watch?v=vF3sv8PkZiE"><strong>Corazón de Piedra</strong></a> by Xavi</li>
                    <li><a href="https://www.youtube.com/watch?v=0qofKeGA3TQ"><strong>CRAZYZ</strong></a> by Fuerza Regida</li>
                    <li><a href="https://www.youtube.com/watch?v=hkrBbBJg3S4"><strong>Mi Bello Angel</strong></a> by Natanael Cano</li>
                    <li><a href="https://www.youtube.com/watch?v=jGhL1v594cU"><strong>Ya No Somos Ni Seremos</strong></a> by Christian Nodal</li>
                    <li><a href="https://www.youtube.com/watch?v=-zAcRpVc5K0"><strong>La Intención</strong></a> by Christian Nodal, Peso Pluma</li>
                    <li><a href="https://www.youtube.com/watch?v=KQMp0JYwTrw"><strong>Que Onda</strong></a> by Calle 24, Chino Pacas, Fuerza Regida</li>
                    <li><a href="https://www.youtube.com/watch?v=fPyAklAUknM"><strong>Madonna</strong></a> by Natanael Cano, Oscar Maydon</li>
                    <li><a href="https://www.youtube.com/watch?v=ex0A-W4XV4A"><strong>DE LUNES A LUNES</strong></a> by Grupo Frontera, Manuel Turizo</li>
                </ul>
            </div>
        </article>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>